//! FONTS
$font-poppins: "poppins";

//?COLORS
$color-blue: #2d427c;
$color-white: #fff;
$color-gold: #FEA71A;
$color-coral: #BA3147;
$color-para: #8A8EB7;
$section-bg: #fcf7f6;

//* SHADOW
$shadow: 0px 10px 4px 3px rgba(58, 52, 82, 0.1);

//* BREAKPOINTS
$bp-sm:575.98px;
$bp-md: 767.98px;
$bp-lg:991.98px;
$bp-xlg: 1199.98px;